@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Cormorant+Garamond:wght@300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes float-hearts {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100px 100px;
  }
}

.bg-heart-pattern {
  background-image: url('/images/heart.png'); /* Substitua pelo caminho da sua imagem de corações */
  background-size: 50px 50px;
  background-repeat: repeat;
}

.animate-float {
  animation: float-hearts 10s linear infinite;
}
